nav{
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    padding-right: 25px;
}

#logo span{
    color: blue;
}
#submenu{
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
    margin-left: 25px;
}

#submenu div{
    padding-right: 20px;
}


input{
    width: 350px;
    border-radius: 5px;
    margin-right: 15px;
}

#wallet{
    border-radius: 5px;
    margin-right: 15px;
}